


{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" id="ayush" style="background-image: url('/static/assets/img/login.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Log In</h1>
            <span class="subheading">Welcome Back!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-md-10 mx-auto content">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
    <div class="my-5">
      <form method="post"  >     
      </div>
      <div class="form-floating">
        <label for="email">Email address</label>
        <input
          type="email"
          pattern=".+@gmail.com"
          class="form-control"
          id="email"
          name="email"
          type="email"
          placeholder="Enter your email..."
          required
        />
        
      </div>
      <div class="form-floating">
        <label for="phone">Password</label>
        <input
          class="form-control"
          id="password"
          name="password"
          type="tel"
          placeholder="Password"
          required
        />  
      </div>
      <br />
      <button 
        class="btn btn-primary text-uppercase"
        id="submitButton"
        type="submit"
        
      >
        Let me in
      </button>
    </form>
  </div>
</div>
</div>
</div>
</main>
      </div>
    </div>
  </div>



{% include "footer.html" %}
{% endblock %}