


{% block content %}
{% include "header.html" %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/assets/img/post.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            
            
            {% if is_edit: %}
            <h1>Edit Post</h1>
            {% else: %}
            <h1>New Post</h1>
            {% endif %}
            
            <span class="subheading">You're going to make a great blog post!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="my-5">
          <!-- * * * * * * * * * * * * * * *-->
          <!-- * * Simplified SB Contact Form for the Tutorial* *-->
          <form 
            id="contactForm"
            name="sentMessage"
            action="{{ url_for('add_new_post') }}"
            method="post"
          >
            <div class="form-floating">
              <label for="name">Blog Post Title</label>
              <input
                class="form-control"
                id="name"
                name="name"
                type="text"
                placeholder="Enter post title"
                required
              />
              
            </div>
            <div class="form-floating">
              <label for="email">Subtitle</label>
              <input
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter post subtitle"
                required
              />
              
            </div>
            <div class="form-floating">
              <label for="phone">Blog Image URL</label>
              <input
                type="url"
                class="form-control"
                id="phone"
                name="phone"
                type="tel"
                placeholder="Enter image url"
                required
              />
              
            </div>
            <div class="form-floating">
              <label for="message">Blog Content</label>
              <textarea
                class="form-control"
                id="message"
                name="message"
                placeholder="Enter your message here..."
                required
                style="height: 12rem"
              ></textarea>
              
            </div>
            <br />
            <button
              class="btn btn-primary text-uppercase"
              id="submitButton"
              type="submit"
            >
              Submit Post
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
      </div>
    </div>
  </div>
  <script src="//cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
{% include "footer.html" %}
{% endblock %}