


{% block content %}
{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/static/assets/img/rock3.jpg') ">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Register</h1>
            <span class="subheading">Start Contributing to the Blog!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       
        <div class="my-5">
          <form action="{{url_for('register')}}" >     
          </div>
          <div class="form-floating">
            <label for="email">Email address</label>
            <input
              type="email"
              pattern=".+@gmail.com"
              class="form-control"
              id="email"
              name="email"
              type="email"
              placeholder="Enter your email..."
              required
            />
            
          </div>
          <div class="form-floating">
            <label for="phone">Password</label>
            <input
              class="form-control"
              id="password"
              name="password"
              type="tel"
              placeholder="Password"
              required
            />  
            <div class="form-floating">
              <label for="name">Name</label>
              <input
                type="name"
                class="form-control"
                id="name"
                name="name"
                type="name"
                placeholder="Enter your name.."
                required
              />
          </div>
          <br />
          <button
            class="btn btn-primary text-uppercase"
            id="submitButton"
            type="submit"
          >
            Sign Me Up!
          </button>
        </form>
      </div>
    </div>
    </div>
    </div>
    </main>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>

{% include "footer.html" %}
{% endblock %}